<app-header></app-header>

<div class="container">
  <div class="card my-4">
    <div class="card-header bg-info">
      <h6 class="card-title text-white">Add/Edit Company</h6>
    </div>
    <div class="card-body">
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="comp">Company Name:</label>
              <input type="text" class="form-control" id="comp">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="domain">Domain Name:</label>
              <input type="text" class="form-control" id="domain">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="addr">Address Line 1:</label>
              <input type="text" class="form-control" id="addr">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="addr2">Address Line 2:</label>
              <input type="text" class="form-control" id="addr2">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="city">City:</label>
              <input type="text" class="form-control" id="city">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="state">State:</label>
              <select class="form-control" id="state">
                <option>Karnataka</option>
                <option>Delhi</option>
                <option>Telangana</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="zip">Zip Code:</label>
              <input type="text" class="form-control" id="zip">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="phone">Phone:</label>
              <input type="text" class="form-control" id="phone">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="fax">Fax:</label>
              <input type="text" class="form-control" id="fax">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Form card ends -->

</div>
<!-- container fluid ends -->
