
.bg-light-yellow {
  background-color: #ffe393!important;
}

.no-wrap, label {
  white-space: nowrap;
}

.dateField1 {
  max-width: 289px;
}

.dateField2 {
  max-width: 264px;
}

label {
  width: 167px !important;
}
