<div class="d-flex justify-content-between align-items-center">
  <mat-form-field class="searchBar-alignment">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <mat-checkbox class="mr-4" color="primary" (change)="activeFilter($event)"><span class="text-primary">Is Active</span>
  </mat-checkbox>
</div>

<div class="mat-elevation-z0">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First name </th>
      <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
    </ng-container>


    <!-- Progress Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.phone}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="cell">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cell phone </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.cell_phone}} </td>
    </ng-container>


    <!-- user_type Column -->
    <ng-container matColumnDef="user_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Type </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.user_type}} </td>
    </ng-container>

    <!-- Service Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        <a href="mailto:{{row.email}}">{{row.email}}</a>
      </td>
    </ng-container>

    <!-- Website Column -->
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.notes}} </td>
    </ng-container>


    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="editUserForm(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [length]="users.length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
</div>
