<!-- navBar Ends -->

<div class="">
  <div class="card">

    <div [formGroup]="addClientForm" class="card-body">
      <div class="d-flex justify-content-between mb-4">
        <h6>
          <span *ngIf="!isUpdated; else update">Add</span>
          <ng-template #update>Edit</ng-template>
          Client
        </h6>
      </div>
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="Client Name">
            </mat-form-field>
          </div>



          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Website</mat-label>
              <input matInput formControlName="website" placeholder="Website">
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-checkbox class="align-self-start" color="primary" formControlName="is_active"><span
                class="text-primary">Is
                Active</span>
            </mat-checkbox>

            <br>

            <button (click)="submitForm()" type="button" class="btn btn-primary">
              <span *ngIf="!isUpdated; else update">Add</span>
              <ng-template #update>Update</ng-template> Client
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form card ends -->

</div>
<!-- container fluid ends -->
