<app-header></app-header>

<!-- navBar Ends -->

<div class="container">
  <div class="card my-4">
    <div class="card-header bg-info">
      <h6 class="card-title text-white">Add/Edit User</h6>
    </div>
    <div [formGroup]="userForm" class="card-body">
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="fnme">First Name:</label>
              <input type="text" formControlName="first_name" class="form-control" id="fnme">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="lname">Last Name:</label>
              <input type="text" formControlName="last_name" class="form-control" id="lname">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="mail">Email:</label>
              <input type="text" formControlName="email" class="form-control" id="mail">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="pwd">Password:</label>
              <input type="password" formControlName="password" class="form-control" value="hdhsdshj" id="pwd">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="Company">Primary Company:</label>
              <select formControlName="primary_company" class="form-control" id="Company">
                <option value="Auto Painting">Auto Painting</option>
                <option value="Delhi">Delhi</option>
                <option value="Telangana">Telangana</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="usType">User Type:</label>
              <select formControlName="user_type" class="form-control" id="usType">
                <option>--Select--</option>
                <option *ngFor="let role of userRoles" [value]="role">{{role}}</option>
              </select>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="usType">Related Company:</label>
              <select formControlName="related_company" class="form-control" id="usType">
                <option>--Select--</option>
                <option>Delhi</option>
                <option>Telangana</option>
              </select>
            </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="pwd">Username:</label>
              <input type="text" formControlName="username" class="form-control">
            </div>
          </div>

          <div class="col-12">
            <div class="alert">
              <h6 class="text-primary">Contact Info:</h6>
              <div class="row">


                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group d-flex align-items-center">
                    <label class="mr-4" for="mob">Phone:</label>
                    <input formControlName="phone" type="text" class="form-control" id="mob">
                  </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group d-flex align-items-center">
                    <label class="mr-4" for="ext">Ext:</label>
                    <input type="text" formControlName="phone_ext" class="form-control" id="ext">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group d-flex align-items-center cell-m-t">
                    <label class="mr-4" for="cell">Cell Phone:</label>
                    <input type="text" formControlName="cell_phone" class="form-control" id="cell">
                  </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 my-4">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      Is Primary Contact?
                    </label>
                  </div>
                  <mat-radio-group aria-labelledby="primary-contact-radio-group-label"
                    formControlName="is_primary_contact">
                    <mat-radio-button color="accent" class="mr-4" [value]="true">
                      Yes
                    </mat-radio-button>
                    <mat-radio-button color="accent" [value]="false">
                      No
                    </mat-radio-button>
                  </mat-radio-group>

                </div>


              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="comment">Notes:</label>
              <textarea formControlName="notes" class="form-control w-100" rows="5" id="comment"></textarea>
            </div>

            <button (click)="submitForm()" type="button" class="btn btn-primary">Add User</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form card ends -->

</div>
<!-- container fluid ends -->
