<app-header></app-header>

<!-- navBar Ends -->

<div class="container">
  <div class="card my-4">
    <div class="card-header bg-info">
      <div class="d-flex justify-content-between">
        <h6 class="card-title text-white">Add User</h6>
        <h6 class="card-title text-white">Client: {{utils.currentUser.value.name}}</h6>
      </div>
    </div>
    <div [formGroup]="userForm" class="card-body">
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <input matInput formControlName="first_name" placeholder="First Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <input matInput formControlName="last_name" formControlName="first_name" placeholder="Last Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <input matInput formControlName="last_name" formControlName="email" placeholder="Email">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <input matInput type="password" formControlName="password" placeholder="Password">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>User Type</mat-label>
              <mat-select>
                <mat-option *ngFor="let role of userRoles" [value]="role">
                  {{role}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="username" placeholder="Username">
            </mat-form-field>
          </div>

          <div class="col-12">
            <h6 class="text-primary">Contact Info:</h6>
            <div class="alert">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field appearance="outline">
                    <input matInput type="tel" formControlName="phone" placeholder="Phone">
                  </mat-form-field>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field appearance="outline">
                    <input matInput type="text" formControlName="phone_ext" placeholder="Phone EXT">
                  </mat-form-field>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <mat-form-field appearance="outline">
                    <input matInput type="tel" formControlName="cell_phone" placeholder="Cell Phone">
                  </mat-form-field>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 my-4">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      Is Primary Contact?
                    </label>
                  </div>
                  <mat-radio-group aria-labelledby="primary-contact-radio-group-label"
                    formControlName="is_primary_contact">
                    <mat-radio-button color="accent" class="mr-4" [value]="true">
                      Yes
                    </mat-radio-button>
                    <mat-radio-button color="accent" [value]="false">
                      No
                    </mat-radio-button>
                  </mat-radio-group>

                </div>


              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="comment">Notes:</label>
              <textarea formControlName="notes" class="form-control w-100" rows="5" id="comment"></textarea>
            </div>

            <button (click)="submitForm()" type="button" class="btn btn-primary">Add User</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form card ends -->

</div>
<!-- container fluid ends -->
