.no-wrap,
label {
  white-space: nowrap;
}

.dateField1 {
  max-width: 289px;
}

.dateField2 {
  max-width: 264px;
}

.form-group label {
  width: 167px !important;
}

.cell-m-t {
  margin-top: 23px;
}
