
select {
  max-width: 150px;
}

.bg-light-yellow {
  background-color: #ffe393!important;
}

.no-wrap {
  white-space: nowrap;
}

.divider {
  margin: .5rem;
  width: 100%;
  height: 1px;
  background-color: lightslategrey;
}
