<div class="container d-flex justify-content-center align-items-center">
  <mat-card class="mat-elevation-z1">

    <mat-card-content [formGroup]="loginForm">
      <h4 class="text-center purple">
        <i>Login</i>
      </h4>
      <mat-form-field class="w-100 my-1" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
          Please enter username
        </mat-error>
      </mat-form-field>


      <mat-form-field class="w-100 my-1" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" (keyup.enter)="submitForm()" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Please enter password
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-between px-2">
      <button (click)="submitForm()" mat-stroked-button class="btn btn-primary"> Sign in </button>
      <button (click)="openDialog()" mat-flat-button>
        <span class="primary-link">Forgot password?</span> </button>
    </mat-card-actions>
  </mat-card>
</div>
