<!-- navBar Ends -->

<div class="">
  <div class="card">

    <div [formGroup]="clientSiteForm" class="card-body">
      <div class="d-flex justify-content-between mb-4">
        <h6>Add Client Site</h6>
        <h6>Client: {{utils.currentUser.value.name}}</h6>
      </div>
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="First Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Client location</mat-label>
              <input matInput formControlName="client_location" placeholder="Client location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Address line 1</mat-label>
              <input matInput formControlName="address_line_1" placeholder="First Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Address line 2</mat-label>
              <input matInput formControlName="address_line_2" placeholder="Last Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" placeholder="First Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Zip code</mat-label>
              <input matInput formControlName="zip_code" placeholder="Last Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" placeholder="First Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone" placeholder="Last Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Fax</mat-label>
              <input matInput formControlName="fax" placeholder="First Name">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Website</mat-label>
              <input matInput formControlName="website" placeholder="Last Name">
            </mat-form-field>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Client hours</mat-label>
              <input matInput formControlName="client_hours" placeholder="First Name">
            </mat-form-field>
          </div>



          <div class="col-12 mt-4" align="right">
            <button (click)="submitForm()" type="button" class="btn btn-success">
              <span
                *ngIf="!isUpdated; else update">Add</span>
              <ng-template #update>Update</ng-template> Client Site
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form card ends -->

</div>
<!-- container fluid ends -->
