<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Site Column -->
    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Site </th>
      <td mat-cell *matCellDef="let row"> {{row.client_location}} </td>
    </ng-container>

    <!-- gateway Column -->
    <ng-container matColumnDef="gateway">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> LAN Gateway </th>
      <td mat-cell *matCellDef="let row"> {{row.lan_gateway}} </td>
    </ng-container>

    <!-- wan_ip Column -->
    <ng-container matColumnDef="wan_ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> WAN Ip </th>
      <td mat-cell *matCellDef="let row"> {{row.wan_ip}} </td>
    </ng-container>

    <!-- dhcp_name Column -->
    <ng-container matColumnDef="dhcp_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DHCP name </th>
      <td mat-cell *matCellDef="let row"> {{row.dhcp_name}} </td>
    </ng-container>

    <!--dns_server_ip Column -->
    <ng-container matColumnDef="dns_server_ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DNS Serve Ip </th>
      <td mat-cell *matCellDef="let row"> {{row.dns_server_ip}} </td>
    </ng-container>

    <!-- domain_controller_ip Column -->
    <ng-container matColumnDef="domain_controller_ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Domain Controller Ip </th>
      <td mat-cell *matCellDef="let row"> {{row.domain_controller_ip}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
