<!-- navBar Ends -->

<div class="">
  <div class="card">

    <div [formGroup]="networkForm" class="card-body">
      <div class="d-flex justify-content-between mb-4">
        <h6> <span *ngIf="!isUpdated; else update">Add</span>
          <ng-template #update>Edit</ng-template> Network
        </h6>
        <h6>Client: {{utils.currentUser.value.name}}</h6>
      </div>
      <div>
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Client Sites</mat-label>
              <mat-select formControlName="client_site">
                <mat-option *ngFor="let site of clientSites" [value]="site.id">
                  {{ site.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Client location</mat-label>
              <input matInput formControlName="client_location" placeholder="Client Location">
            </mat-form-field>
          </div>



          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>DNS server IP</mat-label>
              <input matInput formControlName="dns_server_ip" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>DC Name</mat-label>
              <input matInput formControlName="dc_name" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>Domain controller IP</mat-label>
              <input matInput formControlName="domain_controller_ip" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>DHCP Name</mat-label>
              <input matInput formControlName="dhcp_name" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>LAN gateway</mat-label>
              <input matInput formControlName="lan_gateway" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>LAN subnet mask</mat-label>
              <input matInput formControlName="lan_subnet_mask" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>WAN IP</mat-label>
              <input matInput formControlName="wan_ip" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>WAN subnet mask</mat-label>
              <input matInput formControlName="wan_subnet_mask" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>WAN gateway</mat-label>
              <input matInput formControlName="wan_gateway" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>WAN speed</mat-label>
              <input matInput formControlName="wan_speed" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>WAN IP 2</mat-label>
              <input matInput formControlName="wan_ip_2" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>WAN subnet mask 2</mat-label>
              <input matInput formControlName="wan_subnet_mask_2" placeholder="Client Location">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <mat-form-field appearance="outline">
              <mat-label>WAN speed 2</mat-label>
              <input matInput formControlName="wan_speed_2" placeholder="Client Location">
            </mat-form-field>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">

              <mat-form-field appearance="outline">
                <mat-label>Inactive Date</mat-label>
                <input matInput formControlName="inactive_date" [matDatepicker]="picker" placeholder="mm/dd/yyyy">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">

              <mat-form-field appearance="outline">
                <mat-label>Verified Date</mat-label>
                <input matInput formControlName="verified_date" [matDatepicker]="picker3" placeholder="mm/dd/yyyy">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-end">
            <mat-checkbox color="primary" class="mr-3" formControlName="is_active"><span class="text-primary">Is
                Active</span>
            </mat-checkbox>
          </div>


          <div class="col-12" align="right">
            <button (click)="submitForm()" type="button" class="btn btn-success">
              <span *ngIf="!isUpdated; else update">Add</span>
              <ng-template #update>Update</ng-template> Network
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form card ends -->

</div>
<!-- container fluid ends -->
