<!-- navBar Ends -->

<div class="container">
  <div class="card my-4">

    <div [formGroup]="networkForm" class="card-body">
      <div class="d-flex justify-content-between mb-4">
        <h6 class="text-primary">Add Network</h6>
        <h6 class="text-primary">Client: {{utils.currentUser.value.name}}</h6>
      </div>
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="client_location">Client Location:</label>
              <input type="text" formControlName="client_location" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="dns_server_ip">DNS Server Ip:</label>
              <input type="text" formControlName="dns_server_ip" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="dc_name">DC Name:</label>
              <input type="text" formControlName="dc_name" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="domain_controller_ip">Domain Controller IP:</label>
              <input type="text" formControlName="domain_controller_ip" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="dhcp_name">DHCP Name:</label>
              <input type="text" formControlName="dhcp_name" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="lan_gateway">Lan Gateway:</label>
              <input type="text" formControlName="lan_gateway" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="lan_subnet_mask">Lan Subnet Mask:</label>
              <input type="text" formControlName="lan_subnet_mask" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="wan_ip">WAN IP:</label>
              <input type="text" formControlName="wan_ip" class="form-control">
            </div>
          </div>


          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="wan_subnet_mask">WAN SUBNET MASK:</label>
              <input type="text" formControlName="wan_subnet_mask" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="wan_gateway">WAN Gateway:</label>
              <input type="text" formControlName="wan_gateway" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="wan_speed">WAN Speed:</label>
              <input type="text" formControlName="wan_speed" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="wan_ip_2">WAN IP 2:</label>
              <input type="text" formControlName="wan_ip_2" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="wan_subnet_mask_2">WAN Subnet Mask 2:</label>
              <input type="text" formControlName="wan_subnet_mask_2" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="wan_speed_2">WAN Speed 2:</label>
              <input type="text" formControlName="wan_speed_2" class="form-control">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="inactive_date">Inactive Date:</label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="inactive_date" [matDatepicker]="picker" placeholder="mm/dd/yyyy">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group d-flex align-items-center">
              <label class="mr-4" for="verified_date">Verified Date:</label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="verified_date" [matDatepicker]="picker3" placeholder="mm/dd/yyyy">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="col-12">
            <button (click)="submitForm()" type="button" class="btn btn-primary">Add Network</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form card ends -->

</div>
<!-- container fluid ends -->
