<div class="full-width-container w-100 h-100">

  <mat-sidenav-container class="sidenav-container bg-white">

    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar class="logo-color">Ticket Management
      </mat-toolbar>
      <mat-action-list>
        <button mat-list-item [class.active]="showCurrentUserInfoType == 'userinfo'" (click)="navTo('/', 'userinfo')">
          <mat-icon>accessibility</mat-icon> <span class="list-text">Users</span>
        </button>
        <button mat-list-item [class.active]="showCurrentUserInfoType == 'devices'"
          (click)="navTo('devices', 'devices')">
          <mat-icon>important_devices</mat-icon> <span class="list-text">Devices</span>
        </button>
        <button mat-list-item [class.active]="showCurrentUserInfoType == 'vendor'" (click)="navTo('vendors', 'vendor')">
          <mat-icon>supervisor_account</mat-icon> <span class="list-text">Vendors</span>
        </button>
        <button mat-list-item [class.active]="showCurrentUserInfoType == 'vendors-account'"
          (click)="navTo('vendors-account', 'vendors-account')">
          <mat-icon>account_balance</mat-icon> <span class="list-text">Vendor Accounts</span>
        </button>
        <button mat-list-item [class.active]="showCurrentUserInfoType == 'network'"
          (click)="navTo('networks', 'network')">
          <mat-icon>network_wifi</mat-icon> <span class="list-text">Network</span>
        </button>
        <button mat-list-item [class.active]="showCurrentUserInfoType == 'client_sites'"
          (click)="navTo('client_sites', 'client_sites')">
          <mat-icon>location_on</mat-icon> <span class="list-text">Client Sites</span>
        </button>

        <button mat-list-item [class.active]="showCurrentUserInfoType == 'ticket'" (click)="navTo('tickets', 'ticket')">
          <mat-icon>file_copy</mat-icon> <span class="list-text">Tickets</span>
        </button>

        <button mat-list-item [class.active]="showCurrentUserInfoType == 'clients'"
          (click)="navTo('clients', 'clients')">
          <mat-icon>file_copy</mat-icon> <span class="list-text">Clients</span>
        </button>

        <!-- clients -->
      </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Add Content Here -->
      <div class="w-100">
        <div class="d-flex justify-content-between align-items-center border rounded-sm p-cust nav-bar-color">
          <div class="d-inline-flex">
            <button mat-flat-button [matMenuTriggerFor]="menu">Add
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button routerLink="/add-user" mat-menu-item>
                <mat-icon>accessibility</mat-icon> Users
              </button>
              <button routerLink="/add-device" mat-menu-item>
                <mat-icon>important_devices</mat-icon> Devices
              </button>

              <button routerLink="/add-network" mat-menu-item>
                <mat-icon>network_wifi</mat-icon> Network
              </button>
              <button routerLink="/add-client-site" mat-menu-item>
                <mat-icon>location_on</mat-icon> Client Sites
              </button>
              <button routerLink="/add-ticket" mat-menu-item>
                <mat-icon>file_copy</mat-icon> Ticket
              </button>
              <button routerLink="/add-vendors" mat-menu-item>
                <mat-icon>supervisor_account</mat-icon> Vendors
              </button>
              <button routerLink="/add-vendor-account" mat-menu-item>
                <mat-icon>account_balance</mat-icon> Vendor Account
              </button>

              <button routerLink="/add-client" mat-menu-item>
                <mat-icon>account_balance</mat-icon> Add Client
              </button>
            </mat-menu>

            <!-- add-vendor-account -->
            <!-- <ng-container *ngFor="let user of clients">
              <a mat-list-item (click)="currentUser = user" [class.active]="currentUser.id == user.id">{{user.name}}</a>
            </ng-container> -->
          </div>

          <div class="d-inline-flex align-items-center">
            <h6 class="text-secondary mb-0">Client&nbsp;</h6>
            <mat-form-field id="no-padding" class="m-0 p-0 mx-4" appearance="outline">
              <input [formControl]="currentUser" matInput placeholder="Client" aria-label="State"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let user of clients" (click)="onClientSelect(user)" [value]="user.name">
                  {{user.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <button mat-flat-button (click)="logout()" type="button">
            Logout <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>

      <!-- <div [ngSwitch]="showCurrentUserInfoType">
        <mat-card *ngSwitchCase="'network'">
          <mat-card-content>
            <network-table class="w-100"></network-table>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'devices'">
          <mat-card-content>
            <devices-table class="w-100"></devices-table>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'vendor'">
          <mat-card-content>
            <vendors-table class="w-100"></vendors-table>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'userinfo'">
          <mat-card-content>
            <users-table class="w-100"></users-table>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'client_sites'">
          <mat-card-content>
            <app-client-sites class="w-100"></app-client-sites>
          </mat-card-content>
        </mat-card>

        <mat-card *ngSwitchCase="'ticket'">
          <mat-card-content>
            <tickets-table class="w-100"></tickets-table>
          </mat-card-content>
        </mat-card>


        <div *ngSwitchDefault>Invlid Table Request</div>
      </div> -->
      <router-outlet></router-outlet>
      <!-- end content here -->
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
