<div class="full-width-container w-100 h-100">
  <mat-sidenav-container class="sidenav-container bg-white">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar class="logo-color py-2 flex-column">
        <span>Ticket Management</span>
        <div class="no-wrap text-center small">
          <span>{{ username }}</span> &nbsp;
          <span>({{ userRole }})</span>
        </div>
      </mat-toolbar>
      <div class="d-flex flex-column justify-content-center align-items-center mt-4">

        <mat-form-field id="no-padding" appearance="outline">
          <mat-select [formControl]="currentUser">
            <mat-option *ngFor="let user of clients" (click)="onClientSelect(user)" [value]="user.name">
              {{ user.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--
        <mat-form-field id="no-padding" class="m-0 p-0 mx-4" appearance="outline">
          <input [formControl]="currentUser" matInput placeholder="Client" aria-label="State"
            [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of filteredStates | async" (click)="onClientSelect(user)" [value]="user.name">
              {{ user.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
      </div>
      <mat-action-list>
        <button mat-list-item [class.active]="showCurrentUserInfoType == 'ticket'" (click)="navTo('/', 'ticket')">
          <mat-icon>file_copy</mat-icon>
          <span class="list-text">Tickets</span>
        </button>
        <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'" mat-list-item
          [class.active]="showCurrentUserInfoType == 'devices'" (click)="navTo('devices', 'devices')">
          <mat-icon>important_devices</mat-icon>
          <span class="list-text">Devices</span>
        </button>
        <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'" mat-list-item
          [class.active]="showCurrentUserInfoType == 'vendor'" (click)="navTo('vendors', 'vendor')">
          <mat-icon>supervisor_account</mat-icon>
          <span class="list-text">Vendors</span>
        </button>
        <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'" mat-list-item
          [class.active]="showCurrentUserInfoType == 'vendors-accounts'"
          (click)="navTo('vendors-accounts', 'vendors-accounts')">
          <mat-icon>account_balance</mat-icon>
          <span class="list-text">Vendor Accounts</span>
        </button>
        <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'" mat-list-item
          [class.active]="showCurrentUserInfoType == 'network'" (click)="navTo('networks', 'network')">
          <mat-icon>network_wifi</mat-icon>
          <span class="list-text">Network</span>
        </button>
        <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'" mat-list-item
          [class.active]="showCurrentUserInfoType == 'clients'" (click)="navTo('clients', 'clients')">
          <mat-icon>person</mat-icon> <span class="list-text">Clients</span>
        </button>
        <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'" mat-list-item
          [class.active]="showCurrentUserInfoType == 'client_sites'" (click)="navTo('client_sites', 'client_sites')">
          <mat-icon>location_on</mat-icon>
          <span class="list-text">Client Sites</span>
        </button>

        <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'" mat-list-item
          [class.active]="showCurrentUserInfoType == 'userinfo'" (click)="navTo('/users', 'userinfo')">
          <mat-icon>accessibility</mat-icon> <span class="list-text">Users</span>
        </button>

        <!-- clients -->
      </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Add Content Here -->
      <div class="w-100">
        <div class="d-flex justify-content-between align-items-center border rounded-sm p-cust nav-bar-color">
          <div class="d-inline-flex">
            <button mat-flat-button [matMenuTriggerFor]="menu">
              Add
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="navToRoute('ticket')" mat-menu-item>
                <mat-icon>file_copy</mat-icon> Ticket
              </button>
              <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'"
                (click)="navToRoute('user')" mat-menu-item>
                <mat-icon>accessibility</mat-icon> User
              </button>
              <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'"
                (click)="navToRoute('device')" mat-menu-item>
                <mat-icon>important_devices</mat-icon> Device
              </button>

              <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'"
                (click)="navToRoute('network')" mat-menu-item>
                <mat-icon>network_wifi</mat-icon> Network
              </button>
              <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'"
                (click)="navToRoute('client')" mat-menu-item>
                <mat-icon>person</mat-icon> Client
              </button>
              <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'"
                (click)="navToRoute('client-site')" mat-menu-item>
                <mat-icon>location_on</mat-icon> Client Site
              </button>

              <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'"
                (click)="navToRoute('vendor')" mat-menu-item>
                <mat-icon>supervisor_account</mat-icon> Vendor
              </button>
              <button *ngIf="currentUserRole !== 'client_user' || currentUserRole !== 'client_admin'"
                (click)="navToRoute('vendor-account')" mat-menu-item>
                <mat-icon>account_balance</mat-icon> Vendor Account
              </button>
            </mat-menu>

            <!-- vendor-account -->
            <!-- <ng-container *ngFor="let user of clients">
              <a mat-list-item (click)="currentUser = user" [class.active]="currentUser.id == user.id">{{user.name}}</a>
            </ng-container> -->
          </div>

          <button class="text-warning" mat-flat-button (click)="logout()" type="button">
            Logout &nbsp; <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>

      <router-outlet></router-outlet>
      <!-- end content here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
