<div class="full-width-container w-100 h-100">
  <app-header></app-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar class="border-bottom">Client List</mat-toolbar>
      <mat-nav-list>
        <ng-container *ngFor="let user of clients">
          <a mat-list-item (click)="currentUser = user" [class.active]="currentUser.id == user.id">{{user.name}}</a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Add Content Here -->
      <div class="w-100">
        <div class="d-flex justify-content-between align-items-center border rounded-sm p-2 bg-white">
          <div class="d-inline-flex">
            <button mat-flat-button [matMenuTriggerFor]="menu">Add
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button routerLink="/add-user" mat-menu-item>Users</button>
              <button mat-menu-item>Devices</button>
              <button mat-menu-item>Vendors</button>
              <button mat-menu-item>Network</button>
              <button mat-menu-item>Client Sites</button>
            </mat-menu>
            <button mat-flat-button [class.active]="showCurrentUserInfoType == 'userinfo'"
              (click)="showCurrentUserInfoType = 'userinfo'" class="mx-2">Users</button>
            <button mat-flat-button [class.active]="showCurrentUserInfoType == 'devices'"
              (click)="showCurrentUserInfoType = 'devices'" class="mx-2">Devices</button>
            <button mat-flat-button [class.active]="showCurrentUserInfoType == 'vendor'"
              (click)="showCurrentUserInfoType = 'vendor'" class="mx-2">Vendors</button>
            <button mat-flat-button [class.active]="showCurrentUserInfoType == 'network'"
              (click)="showCurrentUserInfoType = 'network'" class="mx-2">Network</button>
            <button mat-flat-button [class.active]="showCurrentUserInfoType == 'client_sites'"
              (click)="showCurrentUserInfoType = 'client_sites'" class="mx-2">Client Sites</button>
          </div>

          <div class="form-check mr-3">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Inactive
            </label>
          </div>
        </div>
      </div>

      <div [ngSwitch]="showCurrentUserInfoType">
        <mat-card *ngSwitchCase="'network'">
          <mat-card-content>
            <network-table [id]="currentUser.id" class="w-100"></network-table>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'devices'">
          <mat-card-content>
            <devices-table [id]="currentUser.id" class="w-100"></devices-table>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'vendor'">
          <mat-card-content>
            <vendors-table [id]="currentUser.id" class="w-100"></vendors-table>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'userinfo'">
          <mat-card-content>
            <users-table [id]="currentUser.id" class="w-100"></users-table>
          </mat-card-content>
        </mat-card>
        <mat-card *ngSwitchCase="'client_sites'">
          <mat-card-content>
            <app-client-sites [id]="currentUser.id" class="w-100"></app-client-sites>
          </mat-card-content>
        </mat-card>
        <div *ngSwitchDefault>output2</div>
      </div>

      <!-- end content here -->
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
