<mat-toolbar class="bg-white">Forgot Password</mat-toolbar>

<div class="mb-4">
  <mat-form-field class="w-100">
    <input [formControl]="emailForm" matInput type="email" placeholder="Email">
  </mat-form-field>
  <mat-error *ngIf="emailForm.touched && emailForm.hasError('required')">
    Email is <strong>invalid</strong>
  </mat-error>
  <mat-error *ngIf="emailForm.touched && emailForm.hasError('pattern')">
    Email is <strong>invalid</strong>
  </mat-error>
</div>


<button (click)="submitForm()" mat-stroked-button class="btn btn-primary">Get Reset Link </button>
