<app-header></app-header>
<div class="container">
  <div class="card">
    <div class="card-body" [formGroup]="ticketForm">
      <div class="d-flex justify-content-between mb-4">
        <h6 class="text-secondary">Create New Ticket</h6>
        <h6 class="text-primary">Client Name: John Doe</h6>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Ticket cateogry</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let ticketCat of ticketsCat" [value]="ticketCat.value">
                {{ticketCat.display}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Ticket Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of ticketStatus" [value]="status.value">
                {{status.display}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <input matInput formControlName="requested_comp_date" [matDatepicker]="picker"
              placeholder="Requested Comp Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <input matInput formControlName="estimated_comp_date" [matDatepicker]="picker2"
              placeholder="Estimated Comp Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <input matInput formControlName="invoice_id" placeholder="Invoice Id">
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <input matInput formControlName="parts_used" placeholder="Parts Used">
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Contact Person</mat-label>
            <mat-select formControlName="contact_person">
              <mat-option *ngFor="let user of usersList" [value]="user.id">
                {{user.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Assigned To:</mat-label>
            <mat-select formControlName="assigned_to">
              <mat-option *ngFor="let user of usersList" [value]="user.id">
                {{user.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>




        <div class="col-12">
          <mat-form-field appearance="outline">
            <textarea matInput formControlName="issue_description" placeholder="Issue Description"></textarea>
          </mat-form-field>
        </div>
      </div>

      <button (click)="submitForm()" mat-flat-button color="primary">Submit</button>
    </div>
  </div>
</div>
