<div class="d-flex justify-content-between align-items-center">
  <mat-form-field class="searchBar-alignment">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <mat-checkbox class="mr-4" color="primary" [(ngModel)]="isActive" (ngModelChange)="activeFilter($event)"><span
      class="text-primary">Is
      Active</span>
  </mat-checkbox>
</div>


<div class="mat-elevation-z0">
  <mat-toolbar [formGroup]='filterForm' class="logo-color bg-white py-2">
    <div class="row w-100">
      <div class="col-xs-12 col-sm-4 d-flex align-items-center">
        <h6 class='ml-1'>Filters: </h6>
      </div>

      <div class="col-xs-12 col-sm-4 d-flex align-items-center justify-content-center">

        <mat-form-field>
          <mat-label>Clients</mat-label>
          <mat-select formControlName="clients" multiple>
            <!-- clients -->
            <mat-select-trigger>
              {{filterForm.value.clients ? getTicketById(filterForm.value.clients[0]) : ''}}
              <span *ngIf="filterForm.value.clients?.length > 1" class="example-additional-selection">
                (+{{filterForm.value.clients.length - 1}}
                {{filterForm.value.clients?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor='let client of clients' [value]='client.id'>
              {{client.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- ticketStatus -->
      </div>
      <div class="col-xs-12 col-sm-4 d-flex align-items-center justify-content-end">
        <mat-form-field>
          <mat-label>Status</mat-label>

          <mat-select formControlName="status" multiple>
            <mat-select-trigger>
              {{filterForm.value.status ? filterForm.value.status[0] : ''}}
              <span *ngIf="filterForm.value.status?.length > 1" class="example-additional-selection">
                (+{{filterForm.value.status.length - 1}}
                {{filterForm.value.status?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor='let status of ticketStatus' [value]='status.value'>
              {{status.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>


    </div>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- tktId Column -->
    <ng-container matColumnDef="tktId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- desc Column -->
    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Issue Description </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <!-- cateogry Column -->
    <ng-container matColumnDef="cateogry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Category </th>
      <td mat-cell *matCellDef="let row"> {{row.category}} </td>
    </ng-container>

    <!--status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <!-- c_p Column -->
    <ng-container matColumnDef="c_p">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button (click)='openDialog(row)' color="primary">
          {{row.contact_person.first_name + ' '+ row.contact_person.last_name}}
        </button>
      </td>
    </ng-container>

    <!-- estComp Column -->
    <!-- <ng-container matColumnDef="estComp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estimated Completion </th>
      <td mat-cell *matCellDef="let row"> {{row.completed_time | date:'mediumDate'}} </td>
    </ng-container> -->

    <!-- assignedTo Column -->
    <ng-container matColumnDef="assignedTo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned to </th>
      <td mat-cell *matCellDef="let row"> {{row?.assigned_to?.first_name +' '+ row?.assigned_to?.last_name}} </td>
    </ng-container>


    <!-- client Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
      <td mat-cell *matCellDef="let row"> {{row.client.name}} </td>
    </ng-container>

    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="editTktDetails(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [length]="networks.length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
</div>
