<mat-form-field class="searchBar-alignment">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>

<div class="mat-elevation-z0">
  <mat-toolbar [formGroup]='filterForm' class="logo-color bg-white py-2">
    <div class="row w-100">
      <div class="col-xs-12 col-sm-4 d-flex align-items-center">
        <h6 class='ml-1'>Filters: </h6>
      </div>

      <div class="col-xs-12 col-sm-4 d-flex align-items-center justify-content-center">

        <mat-form-field>
          <mat-label>Clients</mat-label>
          <mat-select formControlName="clients" multiple>
            <mat-option value='all'>
              All
            </mat-option>
            <!-- clients -->
            <mat-option *ngFor='let client of clients' [value]='client.id'>
              {{client.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- ticketStatus -->
      </div>
      <div class="col-xs-12 col-sm-4 d-flex align-items-center justify-content-end">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" multiple>
            <mat-option value='all'>
              All
            </mat-option>
            <mat-option *ngFor='let status of ticketStatus' [value]='status.value'>
              {{status.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- gateway Column -->
    <ng-container matColumnDef="gateway">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- wan_ip Column -->
    <ng-container matColumnDef="wan_ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Issue Description </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <!-- dhcp_name Column -->
    <ng-container matColumnDef="dhcp_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Category </th>
      <td mat-cell *matCellDef="let row"> {{row.category}} </td>
    </ng-container>

    <!--dns_server_ip Column -->
    <ng-container matColumnDef="dns_server_ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <!-- domain_controller_ip Column -->
    <ng-container matColumnDef="domain_controller_ip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button (click)='openDialog(row)' color="primary">
          {{row.contact_person.first_name + ' '+ row.contact_person.last_name}}
        </button>
      </td>
    </ng-container>

    <!-- estComp Column -->
    <ng-container matColumnDef="estComp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estimated Completion </th>
      <td mat-cell *matCellDef="let row"> {{row.completed_time | date:'mediumDate'}} </td>
    </ng-container>

    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="editTktDetails(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [length]="networks.length" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
